@media screen and (min-width: 428px) {
    .container {
        max-width: 426px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 766px;
    }
    /* header */

    .header-list {
        gap: 40px;
    }

    .header-link {
        position: relative;
        display: block;
        padding: 24px 0;
        transition: color var(--transform-all);
    }

    .header-container, 
    .header-navigation,
    .header-list, 
    .header-address, 
    .header-address-list {
        display: flex;
        align-items: center;
    }

    .header-address-list {
        gap: 40px;
    }

    .header-address {
        font-style: normal;
        margin-left: auto;
        display: block;
    }

    .header-address-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text-color);
        display: block;
        padding: 24px 0;
        transition: color var(--transform-all);
    }

    .header-item {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--title-background-color-dark);
        position: relative;
    }

    .header-link:hover,
    .header-link:focus,
    .header-address-link:hover,
    .header-address-link:focus {
        color: var(--pressed-state-color);
    }

    /* hero */
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tab.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tab-2x.jpg);
        }
    }

    .hero-text {
        margin-bottom: 36px;
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        
    }

    .team>.container,
    .customers>.container {
        max-width: 552px;
    }

    /* features */

    .features-list {
        row-gap: 72px;
        column-gap: 24px;
    }
    
    .features-item {
        width: calc((100% - 24px) / 2);
    }

    .features-subtitle {
        text-align: start;
    }


    /* team */
    
    .team-list {
        column-gap: 24px;
        
    }
    .team-item {
        width: calc((100% - 24px) / 2);
    }
    /* customers */
    .customers-item {
        width: calc((100% - 60px) / 3);
    }

}



@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }

    /* hero */

    .hero {
        max-width: 1440px;
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-desk.jpg)
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-desk-2x.jpg);
        }
    }

    .hero-text {
        font-size: 56px;
        line-height: 1.07em;
        letter-spacing: 0.02em;
        margin-bottom: 48px;
    }

    .team>.container,
    .customers>.container {
        max-width: 1158px;
    }
    /* features */

    .features {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .features-list {
        display: flex;
        gap: 24px;
        justify-content: center;
        align-items: flex-start;
    }

    .features-item {
        width: calc((100% - 72px) / 4);
    }

    .features-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .features-text {
        font-weight: 400;
    }

    .features-sm-bg {
        width: 264px;
        height: 112px;
        background-color: var(--background-color-team);
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
    }

    .features-item-icon {
        margin: 24px 100px;
    }

 /* team */

    .team {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .team-list{
        gap: 24px;
        justify-content: center;
        align-items: stretch;
    }

    .team-item {
        width: calc((100%-72px) / 4);
    }

    /* customers */
    .customers-item {
        width: calc((100% - 120px) / 6);
    }

    .customers {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}